<!-- {% extends "myApp/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/game/edit.css' %}">
{% if messages %}
	  
	{% for message in messages %}
	  
	<div class="alert alert-success alert-dismissible fade show" role="myAlert">
		<strong>Hi</strong> {{message}}.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>

	  {% endfor %}
	  {% endif %}
  
<div class="profile_section">
    <div class="user_preview">
           <label class="droppabled" id="drop-area">
               <input type="file" accept="image/*" name="profile" id="input-file" hidden>
               <div class="info" id="img-view">
                   <div class="info-drag info-item">
                   <img class="info-svg" src="{{user.profile.image.url}}" alt="">
                   </div>
               </div>
           </label>
           <h6>{{form.image}}</h6>
       <span class="data_group">
           <span class="user_data">
               <h1 class="user_name">{{request.user.username}}</h1>
               <p class="user_email">{{request.user.email}}</p>
           </span>
           <span class="user_data">
               <p>{{data.bio}}</p>
               <p><span>{{data.country}}</span> | <span>{{data.address}}</span></p>
           </span>
       </span>
    </div>
<form method="POST" action="{% url 'profileupdate' %}" enctype="multipart/form-data" class="user_data_more_edit">
{% csrf_token %}
<span class="user_data_more">
   <span class="form">
       <span class="flex-row">
           <span class="flex-gap">
               <div class="flex-column">
                   <label>First Name </label></div>
                   <div class="inputForm">
                    {{form.name}}
                   </div>
           </span>
          
       </span>
       
       
       <div class="flex-column">
       <label>Description </label></div>
       <div class="inputorm">
        {{form.desc}}
        </div>
   </span>
   <span class="form">
       <span class="flex-row">
           <span class="flex-gap">
               <div class="flex-column">
                   <label>Country </label></div>
                   <div class="inputForm">
                    {{form.country}}
                   </div>
           </span>
           <span class="flex-gap">
               <div class="flex-column">
               <label>Addresh </label></div>
               <div class="inputForm">
                {{form.address}}
               </div>
           </span>
       </span>
       <div class="flex-column">
       <label>Bio</label></div>
       <div class="inputForm">
           <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <circle cx="12" cy="6" r="4" stroke="#1C274C" stroke-width="1.5"/>
               <path d="M19.9975 18C20 17.8358 20 17.669 20 17.5C20 15.0147 16.4183 13 12 13C7.58172 13 4 15.0147 4 17.5C4 19.9853 4 22 12 22C14.231 22 15.8398 21.8433 17 21.5634" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
               </svg>
               {{form.bio}}
       </div>
   </span>
</span>
<button type="submit" class="button-submit">Update</button>
</form>
</div>  

{% endblock content %}
 -->
