{% extends "myApp/base.html" %}
{% block title %}

|profile Update
{% endblock title %}

{% block content %}
{% load static %}

    <!-- Required meta tags -->
  
    


    <style>
    
    
   
    
    .profile-icon-link-container {
        display: flex;
        align-items: center;
        margin: auto 0;
    } 
    li{
        text-decoration: none;
        list-style: none;
    }
    
    
    /* .profile-icon-link-container img {
        margin: auto .3em auto auto;
        width: 2.5em;
    }
    
    .profile-icon-link-container span {
        margin: auto 0 .3em auto ;
        text-decoration: none;
        color: white;
        font-size: 1.1em;
    }
    
    a {
        text-decoration: none;
    }
    
    
    /* notification block */
    
    
    .notification-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .notification {
        padding: .8em 5%;
        background-color: rgba(64, 243, 243, 0.808);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        border-radius: 5px;
    }
    
    #cross {
        cursor: pointer;
    }
    
    /* Main Container css */
    
    .main-container {
        width: 70%;
        /* background: linear-gradient(130deg, rgb(0, 0, 0) 0%, rgb(25, 15, 71) 49%); */
        margin: 5% auto;
        border-radius: 1em;
        /* padding: 1em 1em; */
    }
    
    .container {
        display: flex;
        margin: 1em 1em;
        align-items: center;
        justify-content: space-between;
    }
    
    .profile-photo-container {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-photo-container img {
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 50%;
        margin: .5em auto;
    }
    
    .user-content-container{
        display: flex;
        flex-direction: column;
        margin: 2em;
        padding-left: 2em;
    }
    
    .username {
        font-size: 2em;
        font-weight: 600;
        margin: 5px 0;
    }
    
    .user-title {
        font-size: 1.6em;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.876);
        margin: 5px 0;
        width: 80%;
        line-height: 1.3em
    }
    
    .user-desc {
        font-size: .9em;
        color: #4B4B4B;
        margin: 4px auto 4px 0;
    }
    
    .profile-edit-link-container {
        display: flex;
        justify-content: flex-end;
        
    }
    
    .profile-edit-link-container a {
        text-decoration: none;
        color: #1a0dab;
    }
    
    
    @media only screen and (max-width: 1200px) {
        .container {
            display: block;
        }
    
        .main-container {
            padding: 2em 1.5em;
        }
    
        .user-content-container {
            padding-left: 0;
        }
    
        .profile-photo-container {
            width: 100%;
        }
      }
    
    
      @media only screen and (max-width: 700px) {
        .user-content-container {
            margin: 2em auto;
        }
    
        .user-title {
            width: 100%;
        }
    
        .main-container {
            margin: 10% auto;
            width: 75%;
        }
    
        .header-username {
            display: none;
        }
    
        .profile-photo-container {
            width: 100%;
        }
      }
    
      @media only screen and (min-width: 1200px){
        .user-content-container {
            width: 60%;
        }
        .profile-photo-container {
            margin: auto;
            width: 30%;
        }
    
        .container {
            font-size: 18px;
        }
      }</style>
    <!-- <link rel="stylesheet" href="{% static 'css/game/profile.css' %}"> -->

    <title>Profile</title>
  </head>
  <body>
    {% if messages %}
	  
	{% for message in messages %}
	  
	<div class="alert alert-success alert-dismissible fade show" role="myAlert">
		<strong>Hi</strong> {{message}}.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>

	  {% endfor %}
	  {% endif %}

   

    <main class="main-container">
            <form class = 'container'  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-photo-container profile-photo-form-container">
                    <p class="profile-page-heading">Edit your profile</p>
                    <img src="{{user.profile.image.url}}" alt="user-image" width="" srcset="">
                    {{form.image}}

                </div>
            

                <div class="user-content-container user-profile-form-container">
                    <ul>
                        <li class="name">
                            <label for="user-name">Your Name</label>
                            {{form.name}}
                        </li>
                        <li class="title">
                            <label for="user-title">Title</label>
                            {{form.title}}

                        </li>
                        <li class="desc">
                            <label for="user-desc">Description</label>
                            {{form.desc}}
                        </li>
                    </ul>
                    <button class="profile-save-button"> Save </button>
                </div>
            </form>
    </main>

    <script>

    var id_name = document.getElementById('id_name')
    var id_title = document.getElementById('id_title')
    var id_desc = document.getElementById('id_desc')
    id_name.placeholder = 'Your Name'
    id_title.placeholder = 'Your Title'
    id_desc.placeholder = 'Description'

    </script>
{% endblock content %}